body{
  height: 200vh;
  font-family: system-ui;
  position: relative;
  background-color: white;
}
.container{
  max-width: 1024px;
  padding: 0 34px;
}

/*=== SEARCH ===*/
.search{
  width: 72px;
  height: 73px;
  padding-left: 32px;
  padding-bottom: 33px;
  position: fixed;
  left: -100%;
  z-index: 3;
}
.search.active{
  left: 0;
}
.search i{
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 13px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: 1px solid #e8e8e8;
}
.search i:hover{
  transition: .4s;
  background-color: black;
  color: white;
}
/*=== SEARCH BAR ===*/
.search-bar{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(88, 88, 88, 0.214);
  z-index: 4;
}
.search-bar.active{
  top: -100%;
}
.search-background{
  position: fixed;
  height: 48px;
  width: 100%;
  top: 160px;
  left: 0;
  display: flex;
  justify-content: center;
  z-index: 5;
}
.search-bar-relative{
  position: fixed;
  display: flex;
  align-items: center;
  width: 0;
  height: 48px;
  border-radius: 13px;
  background-color: white;
  z-index: 5;
  transition: 0.3s;
}
.search-bar-relative.active{
  width: 60%;
  border: 2px solid #adadad;
}
.search-bar-relative input{
  border: none;
  display: none;
  margin: 0 10px;
  width: 100%;
  outline: none;
  font-size: 17px;
}
.search-bar-relative i{
  display: none;
  color: #a1a1a1;
}
/*=== NAVBAR ===*/
.nav{
  height: 80px;
  justify-content: space-between;
  position: relative;
}
.singature-svg{
  position: relative;
  z-index: 1;
}
.art-pack-log{
  display: flex;
  list-style: none;
  column-gap: 1rem;
}
.art-pack-log-1{
  display: flex;
}
.art-pack{
  display: flex;
  list-style: none;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
}
.art-pack li a{
  text-decoration: none;
  color: black;
  font-size: 17px;
}
.art-pack li a:hover{
  color: #6600f5;
}
.login{
  column-gap: 1rem;
  font-size: 14px;
  border: black solid 1px;
  color: black;
  padding: 4px 12.5px;
  border-radius: 25px;
}
.login .bi{
  display: none;
}
.login:hover{
  background-color: black;
  color: white;
}
.ball::after{
  background-color: #ff7300;
  position: absolute;
  border-radius: 1000px;
  content: "";
  width: 8px;
  height: 8px;
}
/*=== MAIN ===*/
.hidden{
  display: flex;
  padding-top: 43px;
  justify-content: space-between;
}
.hidden h1{
  font-family: 'Bell MT';
  margin: 0;
  padding-top: 15px;
  font-size: 37px;
  word-spacing: -4px;
  margin-right: 20px;
}
.form-hidden{
  border: 1px solid #f1f1f1;
  border-radius: 17px;
}
.form-hidden h2{
  font-weight: bold;
  font-size: 14px;
}
.form-hidden h2 i{
  font-size: 20px;
  color: #a1a1a1;
}
.form-hidden p{
  font-size: 14px;
}
.email{
  display: flex;
}
.email input{
  border-radius: 5px;
  border: 1px solid #e8e8e8;
  padding: 5px 12px;
  box-shadow: 0 3px 4px 0px #f1f1f1;
  width: 100%;
}
.email button{
  padding: 5px 12px;
  border-radius: 6px;
  background-color: #242424;
  color: white;
  margin-left: 15px;
  font-weight: bold ;
  font-size: 14px;
  border: none;
}


/*=== MAIN ===*/
.artical{
  text-decoration: none;
  color: black;
}
.artical .time{
   color: #a1a1a1;
   font-size: 14px;
   border-left: 2px solid #e2e2e2;
}
.artical h2{
  font-family: 'Bell MT';
  font-size: 27px;
  word-spacing: -3px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.artical img{
  margin-top: 25px;
  width: 100%;
}
.artical .read-article{
  color: #1b39ff;
  font-size: 14px;
}
.artical .read-article i{
  font-size: 12px;
}

/*=== RESPONSIVE ===*/
@media screen and (max-width : 639px) {
  .container{
    padding: 0 26px;
  }
  .hidden{
    padding-top: 65px;
  }
  .form-hidden{
    display: none;
  }
  .art-pack-log{
    padding: 30px 26px 35px 26px;
    position: fixed;
    display: flex;
    width: 100%;
    right: 0;
    height: 770px;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
  }
  .art-pack-log.active{
    right: -100%;
  }
  .art-pack-log li a{
    font-size: 36px;
  }
  .art-pack-log-1{
    display: block;
    text-align: center;
  }
  .art-pack{
    display: block;
    width: fit-content;
    background-color: #f5f5f5;
  }
  .login{
    font-size: 36px;
    border: none;
  }
  .login:hover{
    background-color: #f5f5f5;
    color: #6600f5;
  }
  .login .bi{
    display: contents;
    font-size: 30px;
  }
  .list-hidden-1{
    position: relative;
    display: block;
    height: 32px;
    padding-right: 26px;
    font-size: 24px;
    z-index: 1;
  }

  .list-hidden-2{
    position: relative;
    display: none;
    font-size: 20px;
    padding-right: 28px;
    padding-top: 5px;
    z-index: 1;
  }
  .list-hidden-2 i{
    padding-left: 2px;
  }
  .singature-svg{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding-left: 26px;
    height: 56px;
  }
  .singature-svg.active{
    background-color: white;
  }
  .nav{
    display: block;
    position: relative;
    height: 56px;
    position: fixed;
    background-color: #adadad;
    width: 100%;
    right: 0;
    top: 0;
  }
  .nav img{
    width: 112px;
  }
  .ball::after{
    margin-top: 10px;
  }
  .search-background{
    top: 100px;
  }
  .search-bar-relative.active{
    width: 90%;
  }
}
@media  screen and (min-width : 639px) {
  .list-hidden{
    display: none;
  }
  .artical{
    display: flex;
    justify-content: space-between;
  }
  .artical-1{
    width: 45%;
  }
  .artical-2{
    width: 48%;
  }
}
@media screen and (min-width : 1024px){
  .artical{
    align-items: center;
  }
}
/* update */
